.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: white;
}

.media:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 2px 3px 2px;
  font-size: 14px;
}